<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/gallery">Gallery</a></li>
	        		<li><a href="/schedule">Schedule</a></li>
				<li><a href="/visitor">Visitor</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yoon@astro.rub.de">email</a></li>
	        		<li><a href="https://github.com/mijinyoon">github.com/mijinyoon</a></li>
				</ul>
			</footer>
		</body>
	</html>
